@import "mixins";
@import "normalize";
@import "vars";

font-face {
  font-family: 'PeriodicoBk', serif;
  src: url(/fonts/PeriodicoDisplay-Bk.woff2) format('woff2'),
       url(/fonts/PeriodicoDisplay-Bk.woff) format('woff'),
       url(/fonts/PeriodicoDisplay-Bk.ttf) format('truetype');
}
@import url(https://cdn.jsdelivr.net/npm/firacode@6.2.0/distr/fira_code.css);

$font-title: "PeriodicoBk";
$font: "Fira Code";

html, body {
  background-color: var(--white);
  font-family: $font, monospace;
  font-size: var(--font-lg);
  line-height: var(--line-height-md);
  height: 100%;
  width: 100%;
}
body {
  display:flex;
}
.left, .right {
  height: 100%;
  flex:1;
}
main {
  min-width: 200px;
  max-width: 900px;
  flex-basis: auto;
  flex-grow: 1;
  height: 100%;
  padding: 2em 10vw;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}
.center {
  text-align: center;
}
h1 {
  margin: 0;
  padding: 0;
  font-size: 10rem;
  line-height: 0.8;
  font-family: $font-title;
  color: var(--black);
  letter-spacing: -6px;
}
h2 {
  margin: 0;
  padding: 10px 0;
  font-family: $font;
  font-size: var(--font-2xl);
  line-height: 0.8;
  color: var(--black);
  letter-spacing: -2px;
}
p {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}
.nonselect {
  user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  -webkit-touch-callout: none;
  -o-user-select: none;
  -moz-user-select: none;
}
*:focus {
  outline: none;
}

#logo {
  display: var(--display-flex);
  align-items: center;
  h2 {
    font-family: $font-title;
    font-size: var(--font-5xl);
    line-height: 0.8;
    letter-spacing: -4px;
  }
}
img {
  max-width:100%;
  height:auto;
}
#content {
  margin: 0 3vw;
}
code {
  font-weight: bold;
  background-color: var(--yellow-300);
  padding: 0 10px;
}

ul {
  list-style: none;
}
ul li:before {
  content: "—";
  padding-right: 10px;
}
em {
  font-style: normal;
  background-color: var(--pink-200);
}

@media (max-width: 768px) {
  h1 {
    font-size: 6rem;
  }
  #logo {
    align-items: unset;
    h2 {
      font-size: 3rem;
    }
    img {
      width: 128px;
      height: 128px;
    }
  }
}
@media (max-width: 480px) {
  h1 {
    font-size: 2.2rem;
    letter-spacing: 0;
  }
  #logo {
    align-items: unset;
    h2 {
      letter-spacing: 0;
      font-size: 1.2rem;
    }
    img {
      width: 64px;
      height: 64px;
    }
  }
}
